*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}


li .dot{
    background: black;
}


.carousel .slide img{
    height: 20vh;
    width: 9vw;
    background-color: black;
}

.carousel .slide p{
    margin-top: 4vh;
    padding-right: 6px;
}

.carousel .control-next.control-arrow:before ,.carousel .control-prev.control-arrow:before{
    display: none;
}