:root{
     overflow-x: hidden;

}
.yellow{
    color: #fff500;
}
.yellow-bg{
    background-color: var(--yellow-color) !important;   
}

.placement .control-dots .dot.selected{
   background-color: black;
}
