@tailwind base;
@tailwind components;
@tailwind utilities;


.loco{
    height: 916vh;
  }

  @media (max-width:1250px) {
    .loco{
      height: 875vh;
    }
  }

  @media (max-width:1000px) {
    .loco{
      height: 825vh;
    }
  }